@page
@model CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create new item</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Item.Name" class="control-label"></label>
                <input asp-for="Item.Name" class="form-control" />
                <span asp-validation-for="Item.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item.Quantity" class="control-label"></label>
                <input asp-for="Item.Quantity" class="form-control" />
                <span asp-validation-for="Item.Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item.ItemVolume" class="control-label"></label>
                <input asp-for="Item.ItemVolume" class="form-control" />
                <span asp-validation-for="Item.ItemVolume" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item.ItemPrice" class="control-label"></label>
                <input asp-for="Item.ItemPrice" class="form-control" />
                <span asp-validation-for="Item.ItemPrice" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<br/>
<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
